.container_gear {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  margin: 0 auto;
}

.container_gear h1 {
  text-align: center;
  font-size: 4rem;
}

/* SVG styles and frames */
.small {
  animation: counter-rotation 5s infinite linear;
  transform-origin: 100.136px 225.345px;
}

.medium {
  animation: rotation 7s infinite linear;
  transform-origin: 254.675px 379.447px;
}

.large {
  animation: counter-rotation 10s infinite linear;
  transform-origin: 461.37px 173.694px;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes counter-rotation {
  from {
    -webkit-transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes counter-rotation {
  from {
    -moz-transform: rotate(359deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}
@-o-keyframes counter-rotation {
  from {
    -o-transform: rotate(359deg);
  }
  to {
    -o-transform: rotate(0deg);
  }
}
@keyframes counter-rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media only screen and (max-height: 1200px) {
  .container_gear h1 {
    font-size: 3rem;
    padding: 1rem 2rem;
  }
  svg {
    height: 65vh;
    width: 65vw;
  }
}

@media only screen and (max-width: 900px) {
  .container_gear {
    height: 75vh;
    width: 75vw;
    padding-top: 5rem;
  }

  .container_project h1 {
    text-align: center;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .container_gear h1 {
    padding: 1rem 1rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 420px) {
  .container_gear h1 {
    padding: 3rem 1rem;
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 380px) {
  .container_gear h1 {
    padding: 2rem 1rem;
    font-size: 2.5rem;
  }
}

@media only screen and (max-height: 280px) {
  .container_gear h1 {
    padding: 1rem 1rem;
    font-size: 2rem;
  }
}
