.tech_container {
  background-color: var(--light-color);
  color: var(--nav-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.card_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1180px;
  margin: 1rem 0;
}

.tech_card {
  width: 15rem;
  height: 10rem;
  background-color: var(--font-color);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border-bottom: 5px solid var(--nav-color);
}

.tech_icon {
  width: 65px;
  height: 65px;
}

.tech_icon_container {
  display: flex;
  justify-content: center;
  width: 90px;
  height: 90px;
  background-color: var(--light-color);
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
}

@media only screen and (min-height: 1300px) {
  .tech_card {
    width: 20rem;
    height: 20rem;
  }
  .tech_icon {
    width: 90px;
    height: 90px;
  }

  .tech_icon_container {
    width: 150px;
    height: 150px;
  }
}
