@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.App {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

:root {
  --nav-color: rgb(34, 38, 42);
  --input-color: rgb(10, 3, 3);
  --nav-hover-color: hsl(210, 11%, 45%);
  --nav-border-color: hsl(210, 11%, 45%);
  --light-color: hsl(209, 100%, 92%);
  --font-color: white;
  --font-color-hover: hsl(0, 0%, 40%);
}
